body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

header {
  background-color: #8b0000;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
  margin-left: 20px;
}

nav ul {
  display: flex;
  margin-right: 20px;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

.banner {
  position: relative;
  height: 400px; /* Aumentei a altura do banner */
  margin: 30px auto; /* Centraliza o banner na tela */
  overflow: hidden;
  display: flex;
  justify-content: center; /* Centraliza a imagem horizontalmente */
  align-items: center; /* Centraliza a imagem verticalmente */
}

.banner img {
  width: 100%; /* Ajustei para ocupar toda a largura do banner */
  height: 100%; /* Ajustei para ocupar toda a altura do banner */
  object-fit: contain; /* Ajusta para exibir toda a imagem sem cortes */
  padding: 15px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #8b0000;
  color: #fff;
  text-align: center;
  padding: 5px 0;
}

.mobile-text {
  display: none; /* Inicialmente, oculta o texto para telas menores */
}

@media only screen and (max-width: 768px) {
  header {
    padding: 10px 10px;
    flex-direction: column;
  }

  .logo {
    margin: 5px 0;
    text-align: center;
  }

  nav ul {
    align-items: center;
  }

  .banner {
    height: 200px; /* Ajuste de altura para telas menores */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    text-align: center;
  }

  .banner img {
    width: 100%; /* Ajustei para ocupar toda a largura do banner */
    height: 100%; /* Ajustei para ocupar toda a altura do banner */
    object-fit: contain; /* Ajusta para exibir toda a imagem sem cortes */
    margin: 0; /* Remova a margem para garantir a centralização correta */
  }

  footer {
    position: fixed;
    width: 100%;
    padding: 5px;
    text-align: center;
  }

  .desktop-text {
    display: none; /* Oculta o texto para telas maiores */
  }

  .mobile-text {
    display: inline; /* Exibe o texto para telas menores */
  }
}
