body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #990100;
  color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 10px; /* Reduzindo o tamanho da fonte da logo */
  font-weight: bold;
  margin-left: 20px;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #b90504;
}

.banner {
  background-image: url('banner.jpg');
  background-size: cover;
  color: #b90504;
  text-align: center;
  padding: 100px 20px;
}

footer {
  background-color: #333333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}
