body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

header {
  background-color: #fc0303;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ocupa a largura total */
}

.logo {
  width: 100px;
  margin-left: 20px;
}

nav ul {
  display: flex;
  padding: 0;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

.banner {
  position: relative;
  max-width: 100%;
  height: 300px;
  margin: 0 auto; /* Centraliza horizontalmente */
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fc0303;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 14px; /* Aumenta o tamanho da fonte */
}

@media only screen and (max-width: 768px) {
  header {
    flex-direction: column;
    width: 100%; /* Ocupa a largura total */
  }

  .logo {
    margin: 10px 0; /* Removido margin-left */
    text-align: center;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin: 10px 0;
  }

  .banner {
    height: 200px; /* Ajuste de altura para telas menores */
    margin: 20px 0; /* Adiciona margem ao redor do banner */
  }

  .banner img {
    width: 90%;
    height: 90%;
    object-fit: cover; /* Mantém a imagem proporcionalmente */
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
