/* Estilos para Telas Maiores (Desktop) */
@media only screen and (min-width: 768px) {
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }

  /* Estilos do Cabeçalho */
  header {
    background-color: #8b0000;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 200px;
  }

  nav ul {
    display: flex;
    margin: 0;
    padding: 0;
  }

  nav li {
    list-style: none;
    margin-left: 20px;
  }

  nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
  }

  nav a:hover {
    color: #ccc;
  }

  /* Estilos do Banner */
  .banner {
    width: 100%;
    height: 720; /* Manter a altura fixa para desktop */
    overflow: hidden;
  }

  .banner img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ajustar a imagem para cobrir o banner */
  }

  /* Estilos do Rodapé */
  footer {
    background-color: #8b0000;
    color: #fff;
    text-align: center;
    padding: 30px 0; /* Aumentar o espaçamento interno */
    width: 100%;
  }

  .footer-container {
    display: flex;
    justify-content: space-between; /* Distribuir os elementos igualmente */
    align-items: center; /* Alinhar verticalmente */
    max-width: 1200px; /* Limitar a largura do conteúdo do rodapé */
    margin: 0 auto; /* Centralizar horizontalmente */
  }

  .footer-info,
  .social-media {
    flex: 1;
    text-align: center;
  }

  .footer-info {
    max-width: 300px;
    margin-right: 20px; /* Adicionar espaçamento entre os elementos */
  }

  .social-media ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0; /* Remover margem padrão */
  }

  .social-media ul li {
    margin: 0 10px; /* Espaçamento entre os ícones sociais */
  }

  .social-media ul li a {
    color: #fff;
    font-size: 24px;
    transition: color 0.3s ease; /* Adicionar transição suave */
  }

  .social-media ul li a:hover {
    color: #ccc; /* Mudar a cor ao passar o mouse */
  }
}