/* estilos-desktop.css */

/* Estilos para o cabeçalho */
.nav-links li a {
  font-size: 18px;
}

/* Estilos para o banner */
.banner {
  background-image: url("/img/01.png");
  height: 400px;
}

/* Estilos para o rodapé */
.footer-info,
.social-media {
  width: auto;
}

.footer-info {
  text-align: center;
}

.social-media {
  text-align: center;
}

.social-media ul li {
  display: inline;
}
