/* Estilos para Telas Menores */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }

  /* Estilos do Cabeçalho */
  header {
    background-color: #8b0000;
    color: #fff;
    padding: 15px 20px;
    text-align: center; /* Centralizar o texto no cabeçalho */
  }

  .logo {
    width: 150px; /* Reduzir o tamanho do logo para telas menores */
  }

  nav ul {
    display: flex;
    justify-content: center; /* Centralizar os itens do menu */
    padding: 0;
    margin-top: 10px; /* Adicionar espaço acima do menu */
  }

  nav li {
    list-style: none;
    margin: 0 10px; /* Espaçamento entre os itens do menu */
  }

  nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
  }

  nav a:hover {
    color: #ccc;
  }

  /* Estilos do Banner */
  .banner {
    width: 100%;
    height: 200px; /* Ajustar a altura do banner para telas menores */
    overflow: hidden;
  }

  .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}
/* Estilos dos Cartões */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Distribui os cards igualmente no container */
  gap: 20px; /* Espaçamento entre os cards */
  padding: 20px;
}

.card {
  width: calc(50% - 20px); /* Largura de 50% menos o espaço entre os cards */
  max-width: 250px; /* Largura máxima dos cards */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-info {
  padding: 10px;
}

.card-code {
  color: #666;
  font-size: 14px;
}

.card-name {
  margin: 5px 0 10px;
  font-size: 18px;
}

.card-value {
  margin: 0;
  font-size: 16px;
  color: #008000;
}

/* Estilos para dispositivos móveis */

footer {
  background-color: #8b0000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-info,
.social-media {
  text-align: center;
}

.social-media ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-media ul li {
  margin: 0 10px;
}

.social-media ul li a {
  color: #fff;
  font-size: 24px;
}

.social-media ul li a:hover {
  color: #ccc;
}


